*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav{
    padding: 20px 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav .logo{
    width: 100px;
}
.nav-srch-btn{
    padding: 10px 0;
    width: 450px;
    border-radius: 20px;
    border: 1px solid slategrey;
    color:slategrey;
}
.nav-ctn-btn .nav-btn{
    padding: 10px;
}
.btn1{
padding:15px 5px;
background-color: #fff;
border: 1px solid black;
color: black;
font-weight: 700;
}
.btn2{
    background-color: black;
    color: #fff;
    font-weight: 700;
}
.hero-session{
    position: relative;
}
.hero-banner-img{
    width: 100vw;
}
.hero-banner-img img{
width: 100%;
}
.hero-banner-contnt{
    position: absolute;
    padding: 20px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 90px;
    left: 60px;
    background-color: #fff;
}
.hero-banner-contn,h1{
    font-size: 40px;
}
.hero-banner-contn,.sale-course{
    margin-top: 10px;
    font-size: 22px;
    width: 400px;
    color: #1c1d1f;
}
.course-selection{
    margin: 20px;
    padding: 50px;
}
.listed-course h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.courses li{
    list-style: none;
    /* line-height: 1.5; */
    display: inline-block;
    margin: 20px 10px;
    font-size: 20px;
    font-weight: 700;
}
.child-list{
    color: #6A6F73;
}
.child-list:hover{
    color: #000;
    cursor: pointer;
}

.video-selection{
    margin: 20px 5px;
    padding: 3.2rem;
    border: 1px solid #d1d7dc;
    width:100%;
}
.cntnt-p{
    line-height: 1.5;
    width: 730px;
}
.explore-btn{
    padding: 10px 15px;
    display: block;
    margin-top: 10px;
    font-weight: 600;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
    overflow: hidden;
}
.card-container{
    padding: 10px;
}
.card-cnt{
    color: #6A6F73;
}
.card2-container{
line-height: 1.5em;
}

.star-rate{
    color: rgb(177, 117, 5);
    font-size: 12px;
}
.fa-star,.fa-star-half-stroke{
    color: orange;
    font-size: 12px;
}
.digit{
    color: #6A6F73;
    font-size: 14px;
    margin-top: 5px;
}
.best{
    background-color: rgb(243, 175, 30);
    padding: 5px;
}
.learner-session{
    padding: 30px;
    background-color: #d1d7dc;
    /* opacity: 0.7; */
}
.grid-container2{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
    overflow: hidden;
}
.grid-cnt{
    background-color: #fff;
    padding: 25px 35px;
}